* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html, body {
    width:100vw;
}

body {
    max-width: 1000px;
    margin: auto;
}


button:hover {
    cursor:pointer;
}

.container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    justify-content: center;
}

h1 {
    padding: 2% 5%;
}


.shop {
    width: 65%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-right: 1px solid lightgray;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    min-width: 250px;
    max-height: 250px;
    background-color: blanchedalmond;
    margin: 1.5%;
    padding: 1% 0;
}

h3 {
    padding-left: 5%;
    align-self: flex-start;
}
.imgBox{
    width: 90%;
    height: 35%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.price, span {
    display: inline;
}

.amountCount {
    display: flex;
    justify-content: center;
}

.increase, .amount, .decrease {
    display: inline-block;
}

.amount {
    width: 30px;
    text-align: center;
    background-color: white;
}


.increase, .decrease {
    border: none;
    width: 30px;
    background-color: red;
    color: azure;
}

.addToCart {
    padding: 2.5px 5px;

}

.cart {
    width:30%;
    height:100%;
}

.cartItem {
    padding:5%;
    width: 100%;
}

.cartItemStyle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.cartItemStyle > p:nth-child(1) {
    width: 45%;
}
.cartItemStyle > p:nth-child(4) {
    width: 10%;
    text-align: right;
}

.cartItemStyle > p:nth-child(2) {
    text-align: right;
}


.cartItemStyle  > button {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0 auto;
}

.cartItemStyle > div > button:first-child {
    margin-right: 10px;
}


h2 {
    margin-top: -15%;
}

.cartTotal {
    width: 86%;
    border-top: 1px solid lightgray;
    margin: 0 auto;
    padding-top: 3%;
    text-align: end;
}

.cartTotal > p , .cartTotalPrice {
    display: inline-block;
}

.decreaseNewItemAmount, .decreaseNewItemAmount {

}


@media only screen and (min-width: 501px) and (max-width: 820px) {
    
    h1 {
        margin-bottom: 5%;
    }



    .container {
        height: 1150px;
    }
    
    .shop {
      width: 45%;
      height: 1120px;
    }

    .card {
        width: 20%;
        min-width: 220px;
        height: 3000px;
        margin-bottom: 10%;
        padding: 2.5% 0; 
        }

    .imgBox{
        width: 90%;
        height: 35%;
        overflow: hidden;
    }

    .cart {
        width: 45%;
    }
  }

  @media only screen and (max-width: 600PX) {


    h2 {
        margin-top: -10%;
    }

    
    .card {
        width: 20%;
        min-width: 220px;
        margin-bottom: 10%;
        }
    
  }

  @media only screen and (max-width: 500PX) {

    h1 {
        margin-bottom: 5%;
    }

    h2 {
        margin-top: -10%;
    }

    .container {
        height: 1130px;
    }

    .shop {
        width: 50%;
        height: 1100px;
    }
      .cart {
          width: 45%;
      }

    .cartItemStyle > button {
        width: 20px;
        height: 20px;
        padding: 0;
    }

    .card {
    width: 20%;
    min-width: 180px;
    height: 280px;
    padding:5% 0;
    }

    .cartItemStyle > p:nth-child(1) {
        padding-right: 5%;
        font-size: 0.7rem;
        word-wrap: break-word;
    }

    
    .cartTotal > p , .cartTotalPrice {
        font-size: 0.65rem;
    }
    
  }